#latel-nav{
    height: 100%;
}
#body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#title-icon {
    position: relative;
}
main {
    flex: 1 0 auto;
}
.page-footer{
    position: fixed;
    bottom: 0;
    padding-top: 0px;
    width:100%;
    z-index: 1000;

}